<!doctype html>
<html lang="en" class="overflow-x-hidden">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/swiper/swiper-bundle.min.css"
		/>
		<link rel="stylesheet" href="../assets/css/donation/donation.scss" />
		<title>donation page</title>
	</head>
	<body class="overflow-x-hidden">
		<%- include('./layout/header'); -%>

		<section
			class="relative bg-center bg-cover bg-donation_banner before:absolute before:inset-0 before:bg-primary-1 before:opacity-30"
		>
			<div
				class="container relative z-10 pb-[48px] pt-[134px] xl:pb-[160px] xl:pt-[240px]"
			>
				<h5 class="mb-4 text-white text-h5 xl:mb-2 xl:text-heading">
					感謝您的善舉，
				</h5>
				<h5 class="text-white text-h5 xl:text-heading">
					每一份捐贈都在為生命譜寫奇蹟
				</h5>
			</div>
			<img
				src="/assets/images/donation/donation_wave13-white.svg"
				class="absolute bottom-0 z-10 w-full h-auto xl:hidden"
				alt="波浪裝飾"
			/>
			<img
				src="/assets/images/donation/donation_wave3-white.svg"
				class="absolute bottom-0 z-10 hidden w-full h-auto xl:block"
				alt="波浪裝飾"
			/>
		</section>

		<section>
			<div class="container relative">
				<img
					src="../assets/images/donation/donation_footPrint.png"
					alt=""
					class="absolute left-[-265px] top-[40px] hidden xl:block"
				/>
				<div class="xl:hidden">
					<div class="py-3">
						<!-- Button -->
						<button
							type="button"
							class="inline-flex w-full justify-between rounded-[16px] bg-white px-6 py-4 text-sm font-semibold text-gray-900 shadow-lg ring-2 ring-inset ring-primary-3 transition-all duration-300 hover:bg-gray-50"
							id="menu-button"
							aria-expanded="true"
							aria-haspopup="true"
						>
							<p class="text-h7 text-primary-3">捐物資</p>
							<svg
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<rect
									x="0.5"
									y="0.5"
									width="23"
									height="23"
									rx="11.5"
									stroke="#7782B8"
								/>
								<path
									d="M7.42693 12.4624L11.1565 16.192C11.7181 16.7536 12.6253 16.7536 13.1869 16.192L16.9165 12.4624C17.8237 11.5552 17.1757 10 15.8941 10H8.43493C7.15333 10 6.51973 11.5552 7.42693 12.4624Z"
									fill="#7782B8"
								/>
							</svg>
						</button>
					</div>
				</div>
				<div class="relative hidden xl:block">
					<div class="py-5">
						<ul class="flex flex-wrap" id="donation_list">
							<li
								class="relative w-1/4 px-6 active"
								data-target="food_block"
							>
								<a>
									<h2
										class="absolute inset-0 z-20 flex items-center justify-center text-white text-h2"
									>
										捐物資
									</h2>
									<div
										class="relative w-full rounded-[40px] pb-[100%]"
									>
										<div class="effect"></div>
										<img
											src="../assets/images/donation/donation_food.jpg"
											alt=""
											class="absolute inset-0 h-full w-full rounded-[40px] object-cover"
										/>
									</div>
								</a>
							</li>
							<li
								class="relative w-1/4 px-6"
								data-target="donate_block"
							>
								<a>
									<h2
										class="absolute inset-0 z-20 flex items-center justify-center text-white text-h2 opacity-70"
									>
										捐款
									</h2>
									<div
										class="relative w-full rounded-[40px] pb-[100%]"
									>
										<div class="effect"></div>
										<img
											src="../assets/images/donation/donation_donate.jpg"
											alt=""
											class="absolute inset-0 h-full w-full rounded-[40px] object-cover"
										/>
									</div>
								</a>
							</li>
							<li
								class="relative w-1/4 px-6"
								data-target="store_block"
							>
								<a>
									<h2
										class="absolute inset-0 z-20 flex items-center justify-center text-white text-h2 opacity-70"
									>
										義賣
									</h2>
									<div
										class="relative w-full rounded-[40px] pb-[100%]"
									>
										<div class="effect"></div>
										<img
											src="../assets/images/donation/donation_store.jpg"
											alt=""
											class="absolute inset-0 h-full w-full rounded-[40px] object-cover"
										/>
									</div>
								</a>
							</li>
							<li
								class="relative w-1/4 px-6"
								data-target="adopt_block"
							>
								<a>
									<h2
										class="absolute inset-0 z-20 flex items-center justify-center text-white text-h2 opacity-70"
									>
										線上<br />認養
									</h2>
									<div
										class="relative w-full rounded-[40px] pb-[100%]"
									>
										<div class="effect"></div>
										<img
											src="../assets/images/donation/donation_adopt.jpg"
											alt=""
											class="absolute inset-0 h-full w-full rounded-[40px] object-cover"
										/>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>

				<!-- Dropdown Menu -->
				<div
					class="absolute z-10 w-56 mt-1 transition-all duration-300 ease-in-out origin-top-right transform scale-95 bg-white rounded-md shadow-xl opacity-0 right-6 ring-1 ring-black ring-opacity-5 focus:outline-none"
					role="menu"
					aria-orientation="vertical"
					aria-labelledby="menu-button"
					tabindex="-1"
					id="dropdown-menu"
				>
					<div class="py-1" role="none">
						<!-- Menu items with hover effect -->
						<button
							type="button"
							class="block w-full px-4 py-2 text-sm transition-colors duration-200 text-primary-3 hover:bg-gray-100"
							role="menuitem"
							tabindex="-1"
							id="menu-item-0"
							data-target="food_block"
						>
							捐物資
						</button>
						<button
							type="button"
							class="block w-full px-4 py-2 text-sm transition-colors duration-200 text-primary-3 hover:bg-gray-100"
							role="menuitem"
							tabindex="-1"
							id="menu-item-1"
							data-target="donate_block"
						>
							捐款
						</button>
						<button
							type="button"
							class="block w-full px-4 py-2 text-sm transition-colors duration-200 text-primary-3 hover:bg-gray-100"
							role="menuitem"
							tabindex="-1"
							id="menu-item-2"
							data-target="store_block"
						>
							義賣
						</button>
						<button
							type="submit"
							class="block w-full px-4 py-2 text-sm transition-colors duration-200 text-primary-3 hover:bg-gray-100"
							role="menuitem"
							tabindex="-1"
							id="menu-item-3"
							data-target="adopt_block"
						>
							線上認養
						</button>
					</div>
				</div>
			</div>
		</section>
		<main class="container relative z-40 pb-[42px] pt-6">
			<!-- 捐物資區塊內容 -->

			<div
				id="food_block"
				class="content-section relative flex flex-col xl:flex-row-reverse xl:py-[120px]"
			>
				<img
					src="../assets/images/donation/donation_wave3-white.svg"
					alt=""
					class="absolute hidden w-full h-auto top-8 xl:block"
				/>
				<section class="relative flex justify-center w-full">
					<img
						src="../assets/images/donation/donation_warm_sm.svg"
						alt=""
						class="block mb-8 xl:hidden"
					/>
					<img
						src="../assets/images/donation/donation_warm.svg"
						alt=""
						class="absolute hidden scale-110 right-[60px] -bottom-6 -z-10 translate-x-1/4 xl:block"
					/>
				</section>
				<section class="flex flex-col items-center xl:items-start">
					<div class="relative flex flex-col items-center mb-10">
						<h4 class="text-h4 text-primary-1 xl:text-h1">
							給予毛孩一份溫暖
						</h4>
						<div
							class="relative left-[58px] w-[158px] lg:left-[130px] lg:w-[274px]"
						>
							<img
								src="../assets/images/donation/donation_underline.svg"
								alt="下底線圖片"
								class="block w-full"
							/>
						</div>
					</div>
					<div class="flex flex-col justify-center gap-6">
						<div
							class="flex flex-col justify-center gap-3 text-fs-6 text-primary-2 lg:gap-6 lg:text-fs-4"
						>
							<p>我們園區裡，流浪至此的毛孩正等待著您的幫助。</p>
							<p>
								每一份捐贈的物資，無論是食物、保健品還是清潔用品，都能帶給這些小生命更多的希望和安全感。
							</p>
							<p>
								您的支持，將是他們幸福生活的開始。請和我們一起，用愛心點亮牠們的未來。
							</p>
						</div>
						<div
							class="relative flex flex-col gap-3 pl-5 text-h8 text-secondary-1 lg:text-h6"
						>
							<div
								class="absolute top-0 bottom-0 left-0 w-2 rounded-full bg-highlight"
							></div>
							<p>郵寄地址：快樂市寵物區幸福路 555 號</p>
							<p>電話：04-12340000</p>
							<p>聯絡人：來福</p>
						</div>
					</div>
				</section>
			</div>

			<!-- 捐款區塊內容 -->

			<div id="donate_block" class="hidden content-section">
				捐款的內容
			</div>

			<!-- 義賣區塊內容 -->

			<div id="store_block" class="hidden content-section">
				義賣的內容
			</div>

			<!-- 線上認養區塊內容 -->

			<div id="adopt_block" class="hidden content-section">
				線上認養的內容
			</div>
		</main>
		<img
			src="../assets/images/donation/donation_wave14-primary.svg"
			alt=""
			class="z-40 block w-full h-auto xl:hidden"
		/>
		<img
			src="../assets/images/donation/donation_wave4-primary.svg"
			alt=""
			class="z-40 hidden w-full h-auto xl:block"
		/>

		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
		<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
		<script type="module" src="../js/danation.js"></script>
	</body>
</html>
