<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>index</title>
	</head>
	<body>
		<%- include('./layout/header'); -%>

		<section
			class="bg-donation_banner relative bg-cover bg-center before:absolute before:inset-0 before:bg-primary-1 before:opacity-30"
		>
			<div
				class="container relative z-10 px-[3] pb-[48px] pt-[134px] lg:pb-[160px] lg:pt-[240px]"
			>
				<h5 class="lg:text-heading mb-4 text-h5 text-white lg:mb-2">
					感謝您的善舉，
				</h5>
				<h5 class="lg:text-heading text-h5 text-white">
					每一份捐贈都在為生命譜寫奇蹟
				</h5>
			</div>
		</section>

		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
	</body>
</html>
