<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/swiper/swiper-bundle.min.css"
		/>
		<link rel="stylesheet" href="../assets/css/donation/donation.scss" />
		<title>donation page</title>
	</head>
	<body>
		<%- include('./layout/header'); -%>

		<section
			class="relative bg-center bg-cover bg-donation_banner before:absolute before:inset-0 before:bg-primary-1 before:opacity-30"
		>
			<div
				class="container relative z-10 pb-[48px] pt-[134px] xl:pb-[160px] xl:pt-[240px]"
			>
				<h5 class="mb-4 text-white text-h5 xl:mb-2 xl:text-heading">
					感謝您的善舉，
				</h5>
				<h5 class="text-white text-h5 xl:text-heading">
					每一份捐贈都在為生命譜寫奇蹟
				</h5>
			</div>
			<img
				src="/assets/images/donation/wave13-white.svg"
				class="absolute bottom-0 w-full h-auto lg:hidden"
				alt="波浪裝飾"
			/>
			<img
				src="/assets/images/donation/wave3-white.svg"
				class="absolute bottom-0 hidden w-full h-auto lg:block"
				alt="波浪裝飾"
			/>
		</section>

		<section>
			<div class="container">
				<div class="xl:hidden">
					<div class="py-3">
						<!-- Button -->
						<button
							type="button"
							class="inline-flex w-full justify-between rounded-[16px] bg-white px-6 py-4 text-sm font-semibold text-gray-900 shadow-lg ring-2 ring-inset ring-primary-3 transition-all duration-300 hover:bg-gray-50"
							id="menu-button"
							aria-expanded="true"
							aria-haspopup="true"
						>
							<p class="text-h7 text-primary-3">捐物資</p>
							<svg
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<rect
									x="0.5"
									y="0.5"
									width="23"
									height="23"
									rx="11.5"
									stroke="#7782B8"
								/>
								<path
									d="M7.42693 12.4624L11.1565 16.192C11.7181 16.7536 12.6253 16.7536 13.1869 16.192L16.9165 12.4624C17.8237 11.5552 17.1757 10 15.8941 10H8.43493C7.15333 10 6.51973 11.5552 7.42693 12.4624Z"
									fill="#7782B8"
								/>
							</svg>
						</button>
					</div>
				</div>
				<div class="hidden xl:block">
					<div class="py-5">
						<ul class="flex flex-wrap" id="donation_list">
							<li
								class="relative w-1/4 px-6 active"
								data-target="food_block"
							>
								<a>
									<h2
										class="absolute inset-0 z-20 flex items-center justify-center text-white text-h2"
									>
										捐物資
									</h2>
									<div
										class="relative w-full rounded-[40px] pb-[100%]"
									>
										<div class="effect"></div>
										<img
											src="../assets/images/donation/donation_food.jpg"
											alt=""
											class="absolute inset-0 h-full w-full rounded-[40px] object-cover"
										/>
									</div>
								</a>
							</li>
							<li
								class="relative w-1/4 px-6"
								data-target="donate_block"
							>
								<a>
									<h2
										class="absolute inset-0 z-20 flex items-center justify-center text-white text-h2 opacity-70"
									>
										捐款
									</h2>
									<div
										class="relative w-full rounded-[40px] pb-[100%]"
									>
										<div class="effect"></div>
										<img
											src="../assets/images/donation/donation_donate.jpg"
											alt=""
											class="absolute inset-0 h-full w-full rounded-[40px] object-cover"
										/>
									</div>
								</a>
							</li>
							<li
								class="relative w-1/4 px-6"
								data-target="store_block"
							>
								<a>
									<h2
										class="absolute inset-0 z-20 flex items-center justify-center text-white text-h2 opacity-70"
									>
										義賣
									</h2>
									<div
										class="relative w-full rounded-[40px] pb-[100%]"
									>
										<div class="effect"></div>
										<img
											src="../assets/images/donation/donation_store.jpg"
											alt=""
											class="absolute inset-0 h-full w-full rounded-[40px] object-cover"
										/>
									</div>
								</a>
							</li>
							<li
								class="relative w-1/4 px-6"
								data-target="adopt_block"
							>
								<a>
									<h2
										class="absolute inset-0 z-20 flex items-center justify-center text-white text-h2 opacity-70"
									>
										線上<br />認養
									</h2>
									<div
										class="relative w-full rounded-[40px] pb-[100%]"
									>
										<div class="effect"></div>
										<img
											src="../assets/images/donation/donation_adopt.jpg"
											alt=""
											class="absolute inset-0 h-full w-full rounded-[40px] object-cover"
										/>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>

				<!-- Dropdown Menu -->
				<div
					class="absolute z-10 w-56 mt-1 transition-all duration-300 ease-in-out origin-top-right transform scale-95 bg-white rounded-md shadow-xl opacity-0 right-6 ring-1 ring-black ring-opacity-5 focus:outline-none"
					role="menu"
					aria-orientation="vertical"
					aria-labelledby="menu-button"
					tabindex="-1"
					id="dropdown-menu"
				>
					<div class="py-1" role="none">
						<!-- Menu items with hover effect -->
						<button
							type="button"
							class="block w-full px-4 py-2 text-sm transition-colors duration-200 text-primary-3 hover:bg-gray-100"
							role="menuitem"
							tabindex="-1"
							id="menu-item-0"
							data-target="food_block"
						>
							捐物資
						</button>
						<button
							type="button"
							class="block w-full px-4 py-2 text-sm transition-colors duration-200 text-primary-3 hover:bg-gray-100"
							role="menuitem"
							tabindex="-1"
							id="menu-item-1"
							data-target="donate_block"
						>
							捐款
						</button>
						<button
							type="button"
							class="block w-full px-4 py-2 text-sm transition-colors duration-200 text-primary-3 hover:bg-gray-100"
							role="menuitem"
							tabindex="-1"
							id="menu-item-2"
							data-target="store_block"
						>
							義賣
						</button>
						<button
							type="submit"
							class="block w-full px-4 py-2 text-sm transition-colors duration-200 text-primary-3 hover:bg-gray-100"
							role="menuitem"
							tabindex="-1"
							id="menu-item-3"
							data-target="adopt_block"
						>
							線上認養
						</button>
					</div>
				</div>
			</div>
		</section>

		<main>
			<div id="food_block" class="content-section">捐物資的內容</div>
			<div id="donate_block" class="hidden content-section">
				捐款的內容
			</div>
			<div id="store_block" class="hidden content-section">
				義賣的內容
			</div>
			<div id="adopt_block" class="hidden content-section">
				線上認養的內容
			</div>
		</main>

		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
		<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
		<script type="module" src="../js/danation.js"></script>
	</body>
</html>
