<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>index</title>
	</head>
	<body>
		<%- include('./layout/header'); -%>
		<main class="pb-20 xl:pt-20">
			<div class="container">
				<h1 class="text-[120px] text-indigo-500">我是首頁</h1>
				<input id="catInput" class="mb-2 h-8 w-8" type="checkbox" />
				<label for="catInput">貓貓好可愛</label>
				<img
					src="../assets/images/cat.jpg"
					class="h-80 w-80 object-cover"
					alt="cat"
				/>
			</div>
		</main>

		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
	</body>
</html>
