<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>index</title>
	</head>
	<body>
		<%- include('./layout/header'); -%>
		<main class="relative bg-primary-1">
			<div
				class="flex flex-col items-center justify-center gap-x-[61px] overflow-x-hidden py-10 md:flex-row-reverse md:px-8 xl:pb-[138px] xl:pt-[272px] 2xl:px-20"
			>
				<div
					class="afterDecoration z-10 after:-top-6 after:left-2 after:-z-10 after:h-[396px] after:w-[368px] after:bg-[url('/assets/svg/bgShadow/bgShadow.svg')] after:bg-cover md:px-0 2xl:h-[670px] 2xl:w-[680px] after:2xl:-top-8 after:2xl:left-[27px] after:2xl:h-[808px] after:2xl:w-[750px]"
				>
					<img
						class="h-auto w-full"
						src="/assets/svg/randomShapeImg/indexImg.svg"
						alt="cat"
					/>
				</div>
				<div class="mt-6 md:mt-0">
					<h3
						class="mb-11 flex flex-col items-center gap-y-1 whitespace-nowrap ps-6 text-h3 text-white xl:mb-20 xl:flex-row xl:ps-0 2xl:text-[80px] 2xl:leading-[6rem]"
					>
						<span
							class="beforeDecoration me-24 before:-left-[27px] before:-top-[13px] before:h-[34px] before:w-[45px] before:bg-[url('/assets/svg/paw/titlePaw.svg')] before:bg-cover xl:me-0 before:2xl:-left-[82px] before:2xl:-top-[50px] before:2xl:h-[98px] before:2xl:w-32"
							>毛孩子們的</span
						>
						<span
							class="afterDecoration ms-[108px] after:-bottom-5 after:-left-2 after:h-[19px] after:w-[186px] after:bg-[url('/assets/svg/underline/underline.svg')] after:bg-cover xl:ms-0 after:2xl:-bottom-10 after:2xl:-left-11 after:2xl:h-9 after:2xl:w-[380px]"
							>夢想樂園</span
						>
					</h3>
					<div class="mx-auto max-w-[327px] 2xl:max-w-[723px]">
						<div
							class="beforeDecoration mx-auto max-w-[327px] space-y-4 ps-5 font-normal text-white before:left-0 before:h-full before:w-2 before:rounded-2xl before:bg-primary-2 md:mx-0 md:max-w-full 2xl:ps-10 2xl:text-fs-2 before:2xl:w-4"
						>
							<p>
								在浪我包養，我們的願景是為每隻毛孩子打造一個充滿愛與關懷的家園。
							</p>
							<p>
								讓每一個毛茸茸的夥伴都能感受到溫暖與快樂，我們相信你的參與可以改變牠們的一生。
							</p>
						</div>
						<div class="mt-6 flex justify-center md:justify-start">
							<a
								class="transition-ham rounded-2xl bg-secondary-1 px-6 py-4 text-h7 text-white hover:bg-secondary-2 2xl:px-10 2xl:py-6 2xl:text-h4"
								href="/pages/donation.html"
								>立即幫助</a
							>
						</div>
					</div>
				</div>
			</div>
		</main>
		<section class="relative py-10">
			<div class="absolute left-0 top-0 w-full">
				<img
					class="w-full"
					src="/assets/svg/wave/wave2.svg"
					alt="wave2"
				/>
			</div>
			<div class="container">
				<div
					class="mb-6 space-y-4 text-center text-secondary-1 xl:space-y-2"
				>
					<h4
						class="afterDecoration text-h4 after:-bottom-1.5 after:left-1/2 after:h-[18px] after:w-[320px] after:-translate-x-1/2 after:bg-[url('/assets/svg/underline/underline2.svg')]"
					>
						改變生活，從心開始
					</h4>
					<p class="font-bold leading-[1.2rem] tracking-[0.04rem]">
						讓每個人都能參與到保護毛孩子的行動中來是我們的使命
					</p>
				</div>
				<div
					class="container space-y-8 text-center tracking-[0.02rem] text-primary-1"
				>
					<div class="space-y-4">
						<img
							class="mx-auto size-40 rounded-full"
							src="/assets/images/index/rupixen-Q59HmzK38eQ-unsplash.jpg"
							alt=""
						/>
						<h5
							class="afterDecoration text-h5 after:bottom-0 after:left-0 after:h-2 after:w-32 after:rounded-2xl after:bg-primary-4"
						>
							線上贊助
						</h5>
						<p class="text-primary-2">
							選擇你心儀的毛孩子,每月收到牠們的生活更新和可愛照片，感受到牠們的成長與變化。
						</p>
					</div>
					<div class="space-y-4">
						<img
							class="mx-auto size-40 rounded-full"
							src="/assets/images/index/yerlin-matu-GtwiBmtJvaU-unsplash.jpg"
							alt=""
						/>
						<h5 class="text-h5">現場互動</h5>
						<p class="text-primary-2">
							與贊助對象零距離互動，給牠們帶來更多的歡樂和陪伴。
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="relative">
			<div class="p-10"></div>
			<%- include('./components/footerWave'); -%>
		</section>
		<%- include('./layout/footer'); -%>
		<script type="module" src="../main.js"></script>
	</body>
</html>
